[Desktop Entry]
Encoding=UTF-8
Name=KIptablesGenerator
Name[xx]=xxKIpTablesGeneratorxx
Exec=kiptablesgenerator
Icon=password
Type=Application
Comment=A iptables front-end for KDE
